{{#each recipes as |recipe| }}
  <a href="/recipes/{{recipe.id}}">
  <div class="card column m-5">
    <div class="card-image" id="recipe-card">
      <figure class="image is-4by4">
        {{{get_icon}}} 
      </figure>
      <header class="card-header">
        <p class="card-header-title">
          {{recipe.name}}
        </p>
      </header> 
  </a>
      <footer class="card-footer">
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item">Delete</a>
      </footer>
    </div>
  </div>
</section>
{{/each}}
    
<footer class="columns is-centered is-mobile mt-5">     
  <a href="/newrecipe">
    <button class="button is-primary is-light" id="add-recipe">Add Recipe</button>
  </a>
  <p>fruit icons PNG Designed By lancarrejekiamin from <a href="https://pngtree.com"> Pngtree.com</a></p>
</footer>
