<div class="project-list">
  {{#each recipes as |recipe| }}
  <section class="columns">
    <div class="card column m-5">
      <div class="card-image" id="recipe-card">
        <figure class="image is-4by3">
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
        </figure>
        <header class="card-header">
          <p class="card-header-title" id="recipe-name">
            {{recipe.name}}
          </p>
        </header> 
        <footer class="card-footer">
          <btn class="edit-btn">Edit</btn>
          {{!-- <a href="#" id="delete" class="delete-btn card-footer-item" data-id="{{recipe.id}}">Delete</a> --}}
          <btn class="delete-btn" data-id="{{recipe.id}}">Delete</btn>
        </footer>
      </div>
    </div>
  </section>
  {{/each}}
</div>

    
<footer class="columns is-centered is-mobile mt-5">     
  <a href="/newrecipe">
    <button class="button is-primary is-light" id="add-recipe">Add Recipe</button>
  </a>
</footer>

<script src="./js/delete.js"></script>
